# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
host_output.log
teams_chat_native_host.log

# Chrome Extension
*.pem
*.crx

# Windows
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp 